<div class="end-xs hidden-xs col-md-3 button-wrap">
  <a class="usa-button usa-button-outline" href="{{include.url}}">{{include.button_text}}</a>
</div>

<a onclick="window.open(&#39;https://public.govdelivery.com/accounts/KYLOUISVILLE/subscriber/new?topic_id=KYLOUISVILLE_618&amp;pop=t&#39;, &#39;_blank&#39;, &#39;scrollbars=1,toolbar=0,menubar=0,resizable=1,width=800,height=384&#39;);return false;" href="https://public.govdelivery.com/accounts/KYLOUISVILLE/subscriber/new?topic_id=KYLOUISVILLE_618">Click to subscribe</a>
